.axil-slide.slide-style-default
  .topskew-thumbnail-group
  .thumbnail
  .dark-image {
  display: none;
}



.axil-website .dark-image {
  display: none;
}
.portfolio-slider .thumbnail .dark-image {
  display: none !important;
}
